<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Portfolio</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="../static/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="../static/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="../static/css/bootstrap.css">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="../static/css/owl.carousel.min.css">
	<link rel="stylesheet" href="../static/css/owl.theme.default.min.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="../static/css/magnific-popup.css">

	<link rel="stylesheet" href="../static/css/style.css">


	<!-- Modernizr JS -->
	<script src="../static/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="../static/js/respond.min.js"></script>
	<![endif]-->


	</head>

	<body>
	<div id="colorlib-page">
		<header>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="colorlib-navbar-brand">
							<a class="colorlib-logo" href="../">portfolio</a>
						</div>
						<nav class="main-nav float-right d-none d-lg-block" style="float:right;">
							<ul>
								<li class="active"><a href="../">Home</a></li>
								<li><a href="#design">Design</a></li>
								<li><a href="#web">Web Project</a></li>
								<!--<li><a href="../aboutMe">About Me</a></li>-->
							</ul>
						  </nav>
					</div>
				</div>
			</div>
		</header>

		<div id="colorlib-hero" class="js-fullheight">
			<div class="owl-carousel">
				<div class="item">
					<div class="hero-flex js-fullheight">
						<div class="col-three-forth">
							<div class="hero-img js-fullheight" style="background-image: url(../static/img/img_bg_0.jpg);"></div>
						</div>
						<div class="col-one-forth js-fullheight">
							<div class="display-t js-fullheight">
								<div class="display-tc js-fullheight">
									<h2 class="number">01/02</h2>
									<div class="text-inner">
										<div class="desc">
											<span class="tag">Design</span>
											<h2>Publication Design</h2>
											<p>책자, 브로셔 등의 편집물을 주로 다루며 디자인과 제작 전반 업무에도 참여했습니다.<br>편집디자이너로서 제가 우선순위로 둔 것은 사용자의 시선을 고려한 작업물을 만들어내는 것이었습니다.<br>사용자의 시선을 따라가며 불편함 없이 읽기 쉬운 편집물을 만들고자 했습니다.</p>
											<p><a href="#design" class="btn-view">View More<i class="icon-arrow-right3"></i></a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="hero-flex js-fullheight">
						<div class="col-three-forth">
							<div class="hero-img js-fullheight" style="background-image: url(../static/img/img_bg_1.jpg);"></div>
						</div>
						<div class="col-one-forth js-fullheight">
							<div class="display-t js-fullheight">
								<div class="display-tc js-fullheight">
									<h2 class="number">02/02</h2>
									<div class="text-inner">
										<div class="desc">
											<span class="tag">Web Project</span>
											<h2>UI/UX, Publishing</h2>
											<p>디자이너로 시간을 보냈던 만큼 시각화에 강점을 가지고 있다 생각합니다.<br>편집 디자인을 했었기 때문에 사용자와 상호작용을 하는 동적인 작업 했던 것은 아닙니다. 하지만 디자인이란 결국 사용자의 시선을 고려해 누구든 읽기 쉽고 친근하며 무엇인지 파악하기 쉽도록 하는 것이기에 웹도 마찬가지로 사용자의 시선을 따라가며 웹을 이용함에 있어 길을 헤매지 않도록 UX/UI를 고려하는 것이 중요하다 생각됩니다.</p>
											<p><a href="#web" class="btn-view">View More<i class="icon-arrow-right3"></i></a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- DESIGN -->
		<div id="design">
		<div id="colorlib-work" style="margin-top:10em;">
			<div class="container">
				<div class="row text-center">
					<h2 class="bold">Design</h2>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="work-entry-flex animate-box js-fullheight">
							<div class="col-three-forth js-fullheight">
								<div class="row no-gutters">
									<div class="col-md-12 col-md-push-10 no-gutters">
										<div class="work-img js-fullheight" style="background-image: url(../static/img/work-1.jpg);">
										</div>
									</div>
								</div>
							</div>
							<div class="col-one-forth js-fullheight">
								<div class="row no-gutters">
									<div class="col-md-12 col-md-pull-12 no-gutters">
										<div class="display-t js-fullheight">
											<div class="display-tc js-fullheight">
												<div class="text-inner text-inner-right">
													<h2><a href="work-single.html">Brochure, etc.</a></h2>
													<p>DYB최선어학원 9개 분원/ DYB선수학 3개 분원/ CREO/ 랜퍼스<br>- 교재, 홍보물 등</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-12">
						<div class="work-entry-flex animate-box js-fullheight">
							<div class="col-three-forth js-fullheight">
								<div class="row no-gutters">
									<div class="col-md-12 no-gutters">
										<div class="work-img js-fullheight" style="background-image: url(../static/img/work-2.jpg);">
										</div>
									</div>
								</div>
							</div>
							<div class="col-one-forth js-fullheight">
								<div class="row no-gutters">
									<div class="col-md-12 no-gutters">
										<div class="display-t js-fullheight">
											<div class="display-tc js-fullheight">
												<div class="text-inner text-inner-left">
													<h2><a href="work-single.html">Business card</a></h2>
													<p></p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-12">
						<div class="work-entry-flex animate-box js-fullheight">
							<div class="col-three-forth js-fullheight">
								<div class="row no-gutters">
									<div class="col-md-12 col-md-push-10 no-gutters">
										<div class="work-img js-fullheight" style="background-image: url(../static/img/work-3.jpg);">
										</div>
									</div>
								</div>
							</div>
							<div class="col-one-forth js-fullheight">
								<div class="row no-gutters">
									<div class="col-md-12 col-md-pull-12 no-gutters">
										<div class="display-t js-fullheight">
											<div class="display-tc js-fullheight">
												<div class="text-inner text-inner-right">
													<h2><a href="work-single.html">Brochure</a></h2>
													<p>DMZ 국제다큐영화제</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-12">
						<div class="work-entry-flex animate-box js-fullheight">
							<div class="col-three-forth js-fullheight">
								<div class="row no-gutters">
									<div class="col-md-12 no-gutters">
										<div class="work-img js-fullheight" style="background-image: url(../static/img/work-4.jpg);">
										</div>
									</div>
								</div>
							</div>
							<div class="col-one-forth js-fullheight">
								<div class="row no-gutters">
									<div class="col-md-12 no-gutters">
										<div class="display-t js-fullheight">
											<div class="display-tc js-fullheight">
												<div class="text-inner text-inner-left">
													<h2><a href="work-single.html">Storybook</a></h2>
													<p></p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-12">
						<div class="work-entry-flex animate-box js-fullheight">
							<div class="col-three-forth js-fullheight">
								<div class="row no-gutters">
									<div class="col-md-12 col-md-push-10 no-gutters">
										<div class="work-img js-fullheight" style="background-image: url(../static/img/work-5.jpg);">
										</div>
									</div>
								</div>
							</div>
							<div class="col-one-forth js-fullheight">
								<div class="row no-gutters">
									<div class="col-md-12 col-md-pull-12 no-gutters">
										<div class="display-t js-fullheight">
											<div class="display-tc js-fullheight">
												<div class="text-inner text-inner-right">
													<h2><a href="work-single.html">Calendar</a></h2>
													<p>태웅로직스</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-12">
						<div class="work-entry-flex animate-box js-fullheight">
							<div class="col-three-forth js-fullheight">
								<div class="row no-gutters">
									<div class="col-md-12 no-gutters">
										<div class="work-img js-fullheight" style="background-image: url(../static/img/work-6.jpg);">
										</div>
									</div>
								</div>
							</div>
							<div class="col-one-forth js-fullheight">
								<div class="row no-gutters">
									<div class="col-md-12 no-gutters">
										<div class="display-t js-fullheight">
											<div class="display-tc js-fullheight">
												<div class="text-inner text-inner-left">
													<h2><a href="work-single.html">Logo redesign</a></h2>
													<p></p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-12">
						<div class="work-entry-flex animate-box js-fullheight">
							<div class="col-three-forth js-fullheight">
								<div class="row no-gutters">
									<div class="col-md-12 col-md-push-10 no-gutters">
										<div class="work-img js-fullheight" style="background-image: url(../static/img/work-7.jpg);">
										</div>
									</div>
								</div>
							</div>
							<div class="col-one-forth js-fullheight">
								<div class="row no-gutters">
									<div class="col-md-12 col-md-pull-12 no-gutters">
										<div class="display-t js-fullheight">
											<div class="display-tc js-fullheight">
												<div class="text-inner text-inner-right">
													<h2><a href="work-single.html">Banner, etc.</a></h2>
													<p></p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
			</div>

<!-- WEB PROJECT -->
	<div id="web">
			<div id="colorlib-blog" style="padding-bottom:35px;">
			<div class="container">
				<div class="row text-center">
					<h2 class="bold">Web</h2>
				</div>
				<div class="row row-pb-md">
					<div class="col-md-4">
						<div class="article animate-box">
							<a href="http://totohong.pythonanywhere.com/" class="blog-img" target=”_blank”>
								<img class="img-responsive" src="../static/img/img-4.png" alt="html5 bootstrap by colorlib.com">
								<div class="overlay"></div>
								<div class="link">
									<span class="read">View more</span>
								</div>
							</a>
							<div class="desc">
								<h2><a href="http://totohong.pythonanywhere.com/" target=”_blank” style="border-bottom: 1px solid #000;padding: 7px;">Chul-E</a></h2>
								<p>폐기물처리 정보서비스<br>가정 또는 사업장에서 폐기물 발생 시 처리를<br>간편하게 도와주는 웹서비스</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="article animate-box">
							<a href="http://trudyh.pythonanywhere.com/" class="blog-img" target=”_blank”>
								<img class="img-responsive" src="../static/img/img-1.png" alt="html5 bootstrap by colorlib.com">
								<div class="overlay"></div>
								<div class="link">
									<span class="read">View more</span>
								</div>
							</a>
							<div class="desc">
								<h2 ><a href="http://trudyh.pythonanywhere.com/" target=”_blank” style="border-bottom: 1px solid #000;padding: 7px;">Fill-good</a></h2>
								<p>영양제 맞춤 추천서비스<br>간단한 설문조사로 개인의 상태를 파악하여<br>'나만의' 맞춤 영양제를 추천해주는 웹서비스</p>
							</div>
						</div>
					</div>

<!--
				<div class="row row-pb-md">
					<div class="col-md-4">
						<div class="article animate-box">
							<a href="./webProject" class="blog-img">
								<img class="img-responsive" src="../static/img/img-2.jpg" alt="html5 bootstrap by colorlib.com">
								<div class="overlay"></div>
								<div class="link">
									<span class="read">Read more</span>
								</div>
							</a>
							<div class="desc">
								<span class="meta">04, Mar 2018</span>
								<h2><a href="./webProject">Collect some interesting images</a></h2>
								<p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="article animate-box">
							<a href="./webProject" class="blog-img">
								<img class="img-responsive" src="../static/img/img-5.jpg" alt="html5 bootstrap by colorlib.com">
								<div class="overlay"></div>
								<div class="link">
									<span class="read">Read more</span>
								</div>
							</a>
							<div class="desc">
								<span class="meta">04, Mar 2018</span>
								<h2><a href="./webProject">Collect some interesting images</a></h2>
								<p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="article animate-box">
							<a href="webProject" class="blog-img">
								<img class="img-responsive" src="../static/img/img-8.jpg" alt="html5 bootstrap by colorlib.com">
								<div class="overlay"></div>
								<div class="link">
									<span class="read">Read more</span>
								</div>
							</a>
							<div class="desc">
								<span class="meta">04, Mar 2018</span>
								<h2><a href="./webProject">Collect some interesting images</a></h2>
								<p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove</p>
							</div>
						</div>
					</div>
				</div>
-->
				</div>
			</div>
		<div class="container" style="text-align:center;margin-top:5px;">
			<a href="#colorlib-page" style="color:black;font-size:120%;"><u>Top</u></a>
		</div>
		</div>
	</div>



	<!-- jQuery -->
	<script src="../static/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="../static/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="../static/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="../static/js/jquery.waypoints.min.js"></script>
	<!-- Owl Carousel -->
	<script src="../static/js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="../static/js/jquery.magnific-popup.min.js"></script>
	<script src="../static/js/magnific-popup-options.js"></script>

	<!-- Main JS (Do not remove) -->
	<script src="../static/js/main.js"></script>


	</body>

</html>

